/* Controls Bar ----------------------------*/
#controls-wrapper { margin:0 auto; height:42px; width:170px; bottom:40px; right:30px; z-index:4; background:transparent; position:fixed; }
#controls { overflow:hidden; height:100%; position:relative; text-align:left; z-index:5; }
#slidecounter { float:right; color:#fff; font:16px Arial, sans-serif; text-shadow:1px 1px 1px #000; margin:0 10px 0 0; line-height:42px; }
#slidecaption { overflow:hidden; color:#fff; font-size:42px; margin:0 10px 0 0; line-height:1.5; position:absolute; top:30%; width:100%; text-align:center;}
#slidecaption h1{font-size:42px; color:#fff !important; font-weight:bold; text-shadow:2px 2px 5px rgba(0, 0, 0, 0.4);}

#navigation { float:right; margin:0px 20px 0 0; }
#play-button{ float:left; margin-top:1px; background:transparent; }
#play-button:hover{ cursor:pointer; }

#prevslide, #nextslide{ position:absolute; height:44px; width:50px; top:3px; margin-top:0; opacity:0.6; }
#prevslide{ left:0; background:url('../images/supersized/back.png') center center no-repeat transparent; border-right:1px #999 solid; }
#nextslide{ left:51px; background:url('../images/supersized/forward.png') center center no-repeat transparent; }
#prevslide:active, #nextslide:active{ margin-top:0; }
#prevslide:hover, #nextslide:hover{ cursor:pointer; }

ul#slide-list{ padding:18px 0; float:left; position:absolute; left:50%; }
ul#slide-list li{ list-style:none; width:12px; height:12px; float:left; margin:0 5px 0 0; }
ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover{ background-position:0 0px; }
ul#slide-list li a{ display:block; width:12px; height:12px; background:url('../images/supersized/nav-dot.png') no-repeat 0 -24px; }
ul#slide-list li a:hover{ background-position:0 -12px; cursor:pointer; }

#tray-button{ float:right; margin-top:1px; border-left:1px solid #333; background:url('../images/supersized/bg-hover.png') repeat-x 0 44px; }
#tray-button:hover{ background-position:0 1px; cursor:pointer; }


/* Progress Bar ----------------------------*/					
#progress-back{ z-index:5; position:fixed; bottom:0; left:0; height:8px; width:100%; background:url('../images/supersized/progress-back.png') repeat-x; display:none; visibility:hidden; }
#progress-bar{ position:relative; height:8px; width:100%; background:url('../images/supersized/progress-bar.png') repeat-x; }


/* Thumbnail Navigation ----------------------------*/	
#nextthumb,#prevthumb { z-index:2; display:none; position:fixed; bottom:61px; height:75px; width:100px; overflow:hidden; background:#ddd; border:1px solid #fff; -webkit-box-shadow:0 0 5px #000; }
#nextthumb { right:12px; }
#prevthumb { left:12px; }
#nextthumb img, #prevthumb img { width:150px; height:auto;  }
#nextthumb:active, #prevthumb:active { bottom:59px; }
#nextthumb:hover, #prevthumb:hover { cursor:pointer; }


/* Thumbnail Tray ----------------------------*/			
#thumb-tray{ position:fixed; z-index:3; bottom:0; left:0; background:url(../images/supersized/bg-black.png); height:150px; width:100%; overflow:hidden; text-align:center; -moz-box-shadow: 0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow: 0px 0px 4px #000; }

#thumb-back, #thumb-forward{ position:absolute; z-index:5; bottom:42px; height:108px; width:40px; }
#thumb-back{ left:0; background: url('../images/supersized/thumb-back.png') no-repeat center center;}
#thumb-forward{ right:0; background:url('../images/supersized/thumb-forward.png') no-repeat center center;}
#thumb-back:hover, #thumb-forward:hover{ cursor:pointer; background-color:rgba(256,256,256, 0.1); }
#thumb-back:hover{ border-right:1px solid rgba(256,256,256, 0.2); }
#thumb-forward:hover{ border-left:1px solid rgba(256,256,256, 0.2); }

ul#thumb-list{ display:inline-block; list-style:none; position:relative; left:0px; padding:0 0px; }
ul#thumb-list li{ background:#111; list-style:none; display:inline; width:150px; height:108px; overflow:hidden; float:left; margin:0; }
ul#thumb-list li img { width:200px; height:auto; opacity:0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); -webkit-transition: all 100ms ease-in-out; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -ms-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }
ul#thumb-list li.current-thumb img, ul#thumb-list li:hover img{ opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); }
ul#thumb-list li:hover{ cursor:pointer; }

.control-nav{position:absolute; bottom:0; background:url(../images/top-bar-bg.png) repeat left top; width:100%; height:50px;}